.vscode/*
!**/.gitkeep
build/*
build_kernel/*
**/build/*
**/.cache/*
**/__pycache__/
**/*.gen.c
**/*.gen.cpp
**/*.gen.hpp
**/*.gen.h
**/*.o
**/*.o.d
**/*.cmd
**/*.ko
**/*.mod
**/*.mod.c
**/*.order
**/*.symvers
**/.tmp_*
**/*.bkp
**/.DS_Store
**/compile_commands.json
**/*.a
**/*.idx
**/output.txt
log.html
output.xml
report.html
tmp/
/*.clltk_trace
