---
BasedOnStyle: LLVM
ColumnLimit: 100
IndentWidth: 4
UseTab: Always
TabWidth: 4
BreakBeforeBraces: Linux 
AllowShortFunctionsOnASingleLine: Inline
AlignEscapedNewlines: Left
BinPackParameters: true
AllowAllParametersOfDeclarationOnNextLine: false
AlignAfterOpenBracket: Align
BreakStringLiterals: true
PackConstructorInitializers: Never
BreakConstructorInitializers: BeforeComma
AllowShortLoopsOnASingleLine: true
AllowShortBlocksOnASingleLine: true
AllowShortIfStatementsOnASingleLine: true 